<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reversi</title>
    <script type="text/javascript" src="Reversi.js"></script>
    <link rel="stylesheet" type="text/css" href="Reversi.css">
</head>
<body>
    <div id="front-message">
        <div class="use-text title">
            <br>
            <br>
            <h1 class="use-text">REVERSI</h1>
        </div>
        <div class="div-button use-text" onclick="start_init(1)">Join</div>
    </div>
    <div id="content">
        <div id="head">
            <div id="head-content">
                <span id="player" class="use-text"></span>
                <br>
                <span id="score" class="use-text"></span>
                <br>
                <span id="etc" class="use-text">Initializing...</span>
            </div>
        </div>
        <div id="space">
            <div id="space-indices"></div>
            <div id="space-button-grid"></div>
            <div id="space-grid"></div>
        </div>
    </div>
</body>
</html>